.card{
    width: 250px;
    height: 250px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 1px solid tomato;
    margin: 3px 0;
}
.star{
    color:gold;
}
.username{
    font-size: 14px;
}
.date{
    font-size: 9px;
}
form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
input{
    border: none;
    border-bottom: 1px solid gray;

}
input::placeholder , textarea::placeholder{
    font-style: 12px;
    color: rgb(233, 229, 229);
}
.submitButton{
border: none;
padding: 5px;
border-radius: 5px;
color: white;
cursor: pointer;
background-color: tomato;
}